extends ../layout

block content 
  script(src="/javascripts/auth/auth-form.js") 
  div(class="d-flex content-auth mx-auto")
      a(class="logo-auth mb-5" href="/tweets")
        img(width="40" height="40" src="/images/whats-up-logo.png" alt="Whats-UP logo")
        span(class="logo-name-auth") Whats-UP
      form(class="card auth-form" method="post" action="/auth/signin" )
        div(class="card-header auth-header")
          a(class="auth-a-link active" href="/auth/signin/form") Connexion
          a(class="auth-a-link" href="/users/signup/form") Inscription  
        div(clas="card-body")
          div(class="form-group m-3")
            label Email 
            input(class="form-control" type="text" name="email")
          div(class="form-group m-3")
            label Password 
            input(class="form-control" type="password" name="password")
            if error
            ul(class="my-2")
                li(class="auth-error")= error 
          div(class="w-100 d-flex flex-row justify-content-between align-items-center")
            div(id="forgot" class="text-hint ps-1") forgot password ?
            input(type="submit" value="connexion" class="btn btn-primary d-block m-1 float-end") 