extends ../layout

block content 
  script(src="/javascripts/auth/auth-form.js") 
  div(class="d-flex flex-row content justify-content-center mx-auto")
      form(class="card w-50 mt-5" method="post" action="/auth/signin" )
        div(class="card-header") Connexion
        div(clas="card-body")
          div(class="form-group m-3")
            label Email 
            input(class="form-control" type="text" name="email")
          div(class="form-group m-3")
            label Password 
            input(class="form-control" type="password" name="password")
          if errors
            ul(class="my-2")
              each error in errors
                li(class="text-danger")= error
          div(class="w-100 d-flex flex-row justify-content-between align-items-center")
            div(id="forgot" class="text-hint ps-1") forgot password ?
            input(type="submit" value="connexion" class="btn btn-primary d-block m-1 float-end") 