extends ../layout

block content
    header
      div(class="d-flex")
        button(class="btn btn-primary m-2" onclick="window.history.back()") Retour
        h1(class="ms-1") Conditions d'utilisation de Whats-Up
      p Date de la dernière mise à jour : #[em Lundi 23 Octobre 2023]
    main
        h2 Bienvenue sur Whats-Up !
        p Veuillez lire attentivement ces Conditions d'utilisation ("Conditions") avant d'utiliser le site web et les services de Whats-Up (le "Service"). En utilisant le Service, vous acceptez d'être lié par ces Conditions. Si vous n'acceptez pas ces Conditions, veuillez ne pas utiliser le Service.
        h3 1. Utilisation du Service
        p 1.1. Vous acceptez d'utiliser le Service conformément à toutes les lois et réglementations applicables.
        p 1.2. Vous acceptez de ne pas utiliser le Service à des fins illégales ou interdites par ces Conditions.
        p 1.3. Vous acceptez de ne pas utiliser le Service pour perturber, endommager ou nuire à d'autres utilisateurs ou à nos opérations.
        h3 2. Compte et sécurité
        p 2.1. Vous devez vous inscrire pour créer un compte sur Whats-Up. Vous êtes responsable de la sécurité de votre compte et de votre mot de passe.
        p 2.2. Vous acceptez de ne pas partager votre compte avec d'autres personnes.
        h3 3. Contenu utilisateur
        p 3.1. Vous êtes seul responsable du contenu que vous publiez sur Whats-Up, y compris les messages, les images et les commentaires.
        p 3.2. Vous acceptez de ne pas publier de contenu diffamatoire, obscène, offensant, illégal ou tout autre contenu inapproprié.
        p 3.3. Vous acceptez de ne pas violer les droits de propriété intellectuelle d'autrui en publiant du contenu sur Whats-Up.
        h3 4. Confidentialité
        div(class="d-flex")
          p 4.1. Nous respectons votre vie privée. Veuillez consulter notre 
            a(href="/CGU/politique-de-confidentialite") Politique de confidentialité 
          p(class="ms-1") pour en savoir plus sur la manière dont nous collectons, utilisons et protégeons vos informations personnelles.
        h3 5. Modifications des Conditions
        p 5.1. Whats-Up se réserve le droit de modifier ces Conditions à tout moment. Les modifications seront publiées sur le Service et entreront en vigueur immédiatement. Il est de votre responsabilité de consulter régulièrement ces Conditions pour vous assurer que vous en êtes informé.
        h3 6. Résiliation
        p 6.1. Whats-Up se réserve le droit de résilier ou de suspendre votre compte et votre accès au Service, à sa seule discrétion et sans préavis, en cas de violation de ces Conditions.
        h3 7. Contact
        p 7.1. Si vous avez des questions ou des préoccupations concernant ces Conditions, veuillez nous contacter via le formulaire de contact.
