extends ../layout

block content
    header
      div(class="d-flex")
        button(class="btn btn-primary m-2" onclick="window.history.back()") Retour
        h1(class="ms-1") Politique de confidentialité de Whats-Up
    main
      section
        h2 1. Collecte d'informations
        p
          | Nous recueillons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à votre compte, effectuez un achat, participez à un concours, et / ou lorsque vous vous déconnectez. Les informations recueillies incluent votre nom, votre adresse e-mail, votre numéro de téléphone, et / ou votre carte de crédit.
      section
        h2 2. Utilisation des informations
        p
          | Toutes les informations que nous recueillons auprès de vous peuvent être utilisées pour :
        ul
          li Personnaliser votre expérience et répondre à vos besoins individuels.
          li Fournir un contenu publicitaire personnalisé.
          li Améliorer notre site.
          li Vous contacter par e-mail.
          li Administrer un concours, une promotion, ou un enquête.
      section
        h2 3. Divulgation à des tiers
        p
          | Nous ne vendons, n'échangeons, ni ne transférons à des tiers vos informations personnelles identifiables. Cela n'inclut pas les tierces parties de confiance qui nous aident à exploiter notre site Web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.
        p
          | Nous pensons qu'il est nécessaire de partager des informations afin d'enquêter, de prévenir ou de prendre des mesures concernant des activités illégales, fraudes présumées, situations impliquant des menaces potentielles à la sécurité physique de toute personne, violations de nos conditions d'utilisation, ou quand la loi nous y contraint.
      section
        h2 4. Protection des informations
        p
          | Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons des cryptages pour protéger les informations sensibles transmises en ligne. Nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin d'effectuer un travail spécifique (par exemple, la facturation ou le service à la clientèle) ont accès aux informations personnelles identifiables.
      section
        h2 5. Consentement
        p
          | En utilisant notre site, vous consentez à notre politique de confidentialité.
      section
        h2 6. Modification de la politique de confidentialité
        p
          | Si nous décidons de changer notre politique de confidentialité, nous posterons ces changements sur cette page.
      section
        h2 7. Nous contacter
        p
          | Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter via le formulaire de contact.
    footer
      p © 2023 Whats-Up. Tous droits réservés.
