extends ../layout

block content
  script(src="/javascripts/tweets/tweet.js")
  script(src="/javascripts/users/user.js")
  script(src="/javascripts/admin/search-user.js")
  script(src="/javascripts/socket-io/socket-display.js")
  div(id="admin-panel-container")
    H1(class="text-center") Administration
    div(id="admin-panel-info")
      div(class="admin-panel-info-nbr-user")
        strong user connecter
        br
        p(class="effet-3d" id="user-log-number")
      div(class="admin-panel-info-nbr-user") 
        strong user inscrit
        br
        p(class="effet-3d")= numberOfUsers
      div(class="admin-panel-info-nbr-user") 
        strong nombre de lettres
        br
        p(class="effet-3d" id="letter-number-count")
    div(id="admin-content")
      div
        h3(class="text-center") Liste des utilisateurs
        div(class="search-menu-div")
          input(type='text' class="form-control input-search" placeholder="search user" id="search-user-input")
        div(id="admin-user-list-container")
          include admin-user-list.pug
      div
        h3(class="text-center mt-1") Liste des lettres
        div(class="d-flex flex-fill flex-column m-1" id="admin-tweet-list-container")
          include letter-list.pug
      div(id="admin-validation-container")
        h3(class="text-center") En attente de validation...
        div(class="d-flex flex-fill flex-column m-1" id="admin-tweet-validation-container")
          include letter-validation.pug
