extends ../layout

block content
  script(src="/javascripts/tweets/tweet.js")
  script(src="/javascripts/users/user.js")
  div(id="admin-panel-container")
    H1(class="text-center") Administration
    div
      div 
        p= "user connecter"
      div 
        p= "user inscrit"
    div(id="admin-content")
      div
        h3(class="text-center") Liste des utilisateurs
        div(id="admin-user-list-container")
          include admin-user-list.pug
      div
        h3(class="text-center") Liste des lettres
        div(class="d-flex flex-fill flex-column" id="admin-tweet-list-container")
          include letter-list.pug
