if isAuthenticated
  script(src="/javascripts/footer/logo-feedback.js")
  div(id="footer-container")
    div(id="feedback-container")
      a(id="btn-feedback" href="/users/feedback/form") Feedback
      div(id="logo-feedback")
    div
      p(id="Whats-UP-2021") © 2021 Whats-UP