if isAuthenticated
  script(src="/javascripts/topbar/search-bar.js")
  script(src="/javascripts/topbar/topbar.js")
  navbar(class="navbar navbar-expand-lg navbar-light" id="navbar-container")
    a(class="navbar-brand" href="/letters")
      img(class="ms-3 navbar-logo" width="40" height="40" src="/images/whats-up-logo.png" alt="twitter logo")
    div(class="navbar-collapse" id="navbar-content")
        form
        ul(class="navbar-nav")
          li(class="nav-item list-unstyled me-3")
            a(class="btn btn-primary btn-tweet" href="/letters/new") New Letter
            a(class="btn btn-letter-img" href="/letters/new") 
              img(width="40" height="35" src="/images/topbar/new-letter.svg", alt="new letter")
        div(class="search-menu-div")
          input(type='text' class="form-control input-search" placeholder="user" id="search-input")
          div(id="search-menu-container")
        ul(class="navbar-nav ul-logout")
          li(class="nav-item list-unstyled")
            a(class="nav-link logout-btn" href="/auth/signout") Déconnexion
            a(class="nav-link a-logout-img" href="/auth/signout") 
              img(class="logout-img" width="40" height="30" src="/images/topbar/logout.svg", alt="Déconnexion")