body {
  background: linear-gradient(90deg, rgba(37,149,191,1) 0%, rgba(37,191,170,1) 37%, rgba(37,191,119,1) 100%);
}

.content {
  max-width: 1200px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

/* INPUT Start*/

.form-control {
  background-color: rgba(255,255,255, .9);
}

/* INPUT End */

.profile-container {
  width: 30rem;
  max-width: 300px;
  min-width: 200px;
  color: #657786;
  background-color: rgba(255,255,255, .30);
  border-radius: 2em;
}

.profile-user-img {
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
}


.img-fluid {
  max-height: 100px;
}


.tweet-element {
  border-radius: 4px;
  border-top: 0px;
  border: 0px;
  border-top: 1px solid #ddd;
  background-color: rgba(255,255,255, .40);
}

.tweet-element:first-child {
  border-top: 0px;
  font-size: 14px;
}

.btn-tweet {
  border-radius: 30px;
}

.b {
  border: 1px solid red;
}

.b1 {
  border: 1px solid green;
}

.pointer-cursor {
  cursor: pointer;
}

/* Navbar Start */

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  justify-content: center;
  z-index: 2;
}

.navbar-logo {
  filter: drop-shadow(0 0 0.2rem black);
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.logout-btn {
  display: none;
}

.ul-logout {
  margin: 0em 0.5em 0em 2em;
}

.btn-tweet {
  display: none;
}

/* Navbar End */

/* Search-bar Start */

#search-menu-container {
  position: relative;
}

.search-menu {
  position: absolute;
  background: white;
  z-index: 1;
  top: -3px;
  border-radius: 0.3em;
  left: 0px;
  width: -webkit-fill-available;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  background-color: rgba(255,255,255, .25);

}

.search-menu-item {
  padding: 10px 15px;
  border-bottom: 1px solid #d1d1d1;
  transition: background 0.2s;
  text-decoration: none;
  border-radius: 0.5em;
}

.search-menu-item:hover {
  background: #eee;
  transition: background 0.2s;
}

.search-menu-item-img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}

/* Search-bar End */


.new-tweet-container {
  width: 100%;
}

.btn-follow {
  color: #007bff!important;
  border-radius: 30px;
  font-weight: bold;
  border-width: 2px;
}

.btn-follow:hover {
  color: white!important;
}

.btn-unfollow {
  border-radius: 30px;
  font-weight: bold;
}

.text-hint {
  color: #718093;
  font-size: 12px;
  cursor: pointer;
}

/* AUTH START */

.content-auth {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.logo-auth {
  text-decoration: none;
  font-size: x-large;
  font-style: italic;
  display: flex;
  align-items: center;
  color: #25bfaa;
  text-shadow: black 1px 1px 7px;
}

.logo-auth > img {
  filter: drop-shadow(0 0 0.2rem black);
}

.auth-form {
  width: 70%;
  background-color: rgba(255,255,255, 0.4);
  box-shadow: black 1px 2px 8px;
}

.auth-header {
  display: flex;
  justify-content: space-between;
}

.auth-a-link {
  text-decoration: none;
  color: #1e1e1e;
  cursor: pointer;
}

.auth-a-link.active {
  text-decoration: underline;
  text-shadow: #25bfaa 0em 0em 1em;
}

/* AUTH  END */

#tweet-list-container {
  margin-top: 1em;
  width: -webkit-fill-available;
}

.tweet-time {
  display: flex;
  justify-content: end;
  font-variant: diagonal-fractions;
  font-style: italic;
}

.card-new-tweet {
  background-color: rgba(255,255,255, .4);
}

@media screen and (min-width: 900px) {
  .logout-btn:hover {
    color: rgb(194, 0, 0)!important;
  }

  .form-control.input-search {
    width: 300px;
    background-color: rgba(255,255,255, .25);
    border-color: rgba(255,255,255, .40);
  }

  .form-control.input-new-tweet {
    width: 90%;
    height: 6em;
    background-color: rgba(255,255,255, .8);
  }

  .profile-container {
    margin-right: 3rem;
  }

  .content {
    flex-direction: inherit;
    align-items: baseline;
  }

  .auth-form {
    width: 50%!important ;
  }

  .search-menu-div {
    flex: 1;
    order: 2;
  }

  .search-menu {
    width: 300px;
  }

  .navbar-nav {
    order: 3;
  }

  .a-logout-img {
    display: none;
  }

  .logout-btn {
    display: block;
  }

  .btn-tweet {
    display: block;
    margin-left: 2em;
  }

  .btn-tweet-img {
    display: none;
  }

}
