body {
  background: linear-gradient(
    90deg,
    rgba(37, 149, 191, 1) 0%,
    rgba(37, 191, 170, 1) 37%,
    rgba(37, 191, 119, 1) 100%
  );
}

.content {
  max-width: 1200px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

/* INPUT Start*/

.form-control {
  background-color: rgba(255, 255, 255, 0.9);
}

/* INPUT End */

/* form profile img uploade*/
#form-container {
  display: flex;
  flex: row;
  width: 10em;
  margin: 1em auto;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 30rem;
  max-width: 300px;
  min-width: 200px;
  color: #657786;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2em;
  box-shadow: 0em 0em 0.9em 0.1em #00000030;
  animation-name: profil-come-scale;
  animation-duration: 750ms;
}

@keyframes profil-come-scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#image-admin-logo {
  position: absolute;
  width: 2em;
  margin: 1em 0em 0em 1em;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}

#profile-container-username {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#input-avatar {
  min-width: 7em;
}

#div-delete-profile-btn {
  display: flex;
  margin-top: 1em;
  margin-right: 1em;
  & #delete-profile-btn {
    cursor: pointer;
    & .delete-profile-btn-img {
      width: 2em;
      height: 2em;
      margin-right: 0.5em;
    }
  }
}

.profile-user-img {
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}

.div-profile-LFE {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-variant-caps: petite-caps;
}

.img-fluid {
  max-height: 100px;
}

.b {
  border: 1px solid red;
}

.b1 {
  border: 1px solid green;
}

.pointer-cursor {
  cursor: pointer;
}

/* Navbar Start */

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  justify-content: center;
  z-index: 2;
}

.navbar-logo {
  filter: drop-shadow(0 0 0.2rem black);
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.logout-btn {
  display: none;
  font-variant-caps: all-petite-caps;
}

.ul-logout {
  margin: 0em 0.5em 0em 2em;
}

.btn-tweet {
  display: none;
  font-variant-caps: all-petite-caps;
}

/* Navbar End */

/* Search-bar Start */

#search-menu-container {
  position: relative;
}

.search-menu {
  position: absolute;
  background: white;
  z-index: 1;
  top: -3px;
  border-radius: 0.3em;
  left: 0px;
  width: -webkit-fill-available;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: rgba(255, 255, 255, 0.25);
}

.search-menu-item {
  padding: 10px 15px;
  border-bottom: 1px solid #d1d1d1;
  transition: background 0.2s;
  text-decoration: none;
  border-radius: 0.5em;
}

.search-menu-item:hover {
  background: #eee;
  transition: background 0.2s;
}

.search-menu-item-img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}

/* Search-bar End */

.new-tweet-container {
  width: 100%;
}

.btn-follow {
  color: #007bff !important;
  border-radius: 30px;
  font-weight: bold;
  border-width: 2px;
}

.btn-follow:hover {
  color: white !important;
}

.btn-unfollow {
  border-radius: 30px;
  font-weight: bold;
}

.text-hint {
  color: #718093;
  font-size: 12px;
  cursor: pointer;
}

/* AUTH START */

.content-auth {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.logo-auth {
  text-decoration: none;
  font-size: x-large;
  font-style: italic;
  display: flex;
  align-items: center;
  color: #25bfaa;
  text-shadow: black 1px 1px 7px;
}

.logo-auth > img {
  filter: drop-shadow(0 0 0.2rem black);
}

.auth-form {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: black 1px 2px 8px;
  animation-name: auth-size;
  animation-duration: 2s;
}

@keyframes auth-size {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.auth-header {
  display: flex;
  justify-content: space-between;
}

.auth-a-link {
  text-decoration: none;
  color: #1e1e1e;
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.3em black;
}

.label-auth {
  font-variant-caps: small-caps;
}

/* select parent of child */
/* div:has(> a.active) {

} */
.btn-login {
  font-variant-caps: all-petite-caps;
  &:focus {
    transform: scale(0.8);
    transition: transform 0.2s;
  }
}

.auth-a-link.active,
.auth-a-link:hover {
  text-decoration: underline;
}

.auth-error {
  list-style: none;
  color: rgb(222, 0, 0);
  font-variant-caps: small-caps;
}

#forgot {
  text-shadow: 0.1em 0.1em 0.3em black;
}

#forgot:hover {
  color: black;
}

/* AUTH  END */
/* TWEET START   */
#tweet-list-container {
  margin-top: 1em;
  width: -webkit-fill-available;
  animation-name: tweet-come-bottom;
  animation-duration: 500ms;
}

@keyframes tweet-come-bottom {
  from {
    transform: translateY(100em);
  }
  to {
    transform: translateY(0em);
  }
}

#h1-tweet-list-container {
  animation-name: tweet-come-left;
  animation-duration: 500ms;
}

@keyframes tweet-come-left {
  from {
    transform: translateX(-30em);
  }
  to {
    transform: translateX(0em);
  }
}

.tweet-time {
  display: flex;
  justify-content: end;
  font-size: smaller;
  font-style: italic;
  padding: 0px 5px 1px 0px;
}

.card-new-tweet {
  background-color: rgba(255, 255, 255, 0.4);
  animation-name: tweet-come-bottom;
  animation-duration: 500ms;
}

.tweet-element {
  border-radius: 4px;
  border-top: 0px;
  border: 0px;
  border-top: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.4);
  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition: transform 0.2s;
    transform: scale(1.01);
  }
}

.tweet-element:first-child {
  border-top: 0px;
  font-size: 14px;
}

.input-new-tweet {
  box-shadow: 1em 1em 1em #00000059;
  resize: none;
  &.error {
    border: 2px solid rgba(255, 0, 0, 0.671);
  }
}

.error-new-letter {
  color: red;
  font-variant-caps: petite-caps;
  list-style: none;
}

#div-delete-secu {
  display: none;
  width: 90%;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 1em;
  z-index: 10;
  box-shadow: 0em 0em 0.5em 0.1em black;
  background: linear-gradient(
    90deg,
    rgba(37, 150, 191, 0.657) 0%,
    rgba(37, 191, 170, 0.649) 37%,
    rgba(37, 191, 119, 0.69) 100%
  );
}

#div-delete-sucess {
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  margin-top: 12em;
  margin-left: 1em;
  border-radius: 1em;
  z-index: 10;
  box-shadow: 0em 0em 0.5em 0.1em rgb(37, 212, 37);
  background: linear-gradient(
    90deg,
    rgba(37, 150, 191, 0.657) 0%,
    rgba(37, 191, 170, 0.649) 37%,
    rgba(37, 191, 119, 0.69) 100%
  );
  &.active-sucess {
    animation-name: delete-sucess;
    animation-duration: 10s;
  }
}

@keyframes delete-sucess {
  0% {
    transform: translateX(-30em);
  }
  5% {
    transform: translateX(1em);
  }
  90% {
    transform: translateX(-30em);
  }
}

.span-delete-sucess {
  color: rgb(75, 253, 75);
  font-variant: small-caps;
}

.ul-delete-secu {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  list-style: none;
  font-weight: bold;
  font-variant-caps: petite-caps;
}

#secu-yes {
  color: rgb(0, 170, 0);
  cursor: pointer;
}

#secu-no {
  color: rgb(194, 0, 0) !important;
  cursor: pointer;
}

.btn-send:focus {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.edit-letter-btn,
.delete-letter-btn,
#delete-profile-btn {
  &:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
  }
}

.link-user-letter {
  text-decoration: none;
  color: #1e1e1e;
  &:hover {
    color: #0b5ed7;
  }
}

.a-admin-user {
  text-decoration: none;
  color: #1e1e1e;
  &:hover {
    color: #0b5ed7;
  }
}

.admin-user-item:hover {
  color: #0b5ed7;
}

/* TWEET END   */
/* ADMIN START   */
#admin-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  width: -webkit-fill-available;
}

#admin-content {
  display: flex;
  flex-direction: column;
}

#admin-user-list-container {
  margin-top: 1em;
  width: 15em;
  height: 30em;
  overflow: auto;
  background: white;
  border-radius: 0.3em;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: rgba(255, 255, 255, 0.25);
  margin: 1em;
}

#admin-tweet-list-container {
  margin-top: 1em;
  margin-bottom: 2em;
  height: 40em;
  padding: 0.5em;
  overflow: auto;
}

#admin-panel-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.admin-panel-info-nbr-user {
  padding: 0.5em;
  font-size: 1.2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.349);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 1.5em 1.5em 3.5em 3.5em;
  font-variant: small-caps;
  & span {
    font-weight: bold;
    color: rgb(0, 163, 0);
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
  }
}

.effet-3d {
  margin: 0;
  display: flex;
  justify-content: center;
  color: #40fc3a;
  font-size: 4em;
  letter-spacing: 0.015em;
  text-shadow: 0 0 0 #27ce27, 0.0025em 0.0025em 0 #27ce27,
    0.005em 0.005em 0 #27ce27, 0.0075em 0.0075em 0 #27ce27,
    0.01em 0.01em 0 #27ce27, 0.0125em 0.0125em 0 #27ce27,
    0.015em 0.015em 0 #27ce27, 0.0175em 0.0175em 0 #27ce27,
    0.02em 0.02em 0 #27ce27, 0.0225em 0.0225em 0 #27ce27,
    0.025em 0.025em 0 #27ce27, 0.0275em 0.0275em 0 #27ce27,
    0.03em 0.03em 0 #27ce27, 0.0325em 0.0325em 0 #27ce27,
    0.035em 0.035em 0 #27ce27, 0.0375em 0.0375em 0 #27ce27,
    0.04em 0.04em 0 #27ce27, 0.0425em 0.0425em 0 #27ce27,
    0.045em 0.045em 0 #27ce27, 0.0475em 0.0475em 0 #27ce27,
    0.05em 0.05em 0 #27ce27, 0.0525em 0.0525em 0 #27ce27,
    0.055em 0.055em 0 #27ce27, 0.0575em 0.0575em 0 #27ce27,
    0.06em 0.06em 0 #27ce27, 0.0625em 0.0625em 0 #27ce27,
    0.065em 0.065em 0 #27ce27, 0.0675em 0.0675em 0 #27ce27,
    0.07em 0.07em 0 #27ce27, 0.0725em 0.0725em 0 #27ce27,
    0.075em 0.075em 0 #27ce27, 0.0775em 0.0775em 0 #27ce27,
    0.08em 0.08em 0 #27ce27, 0.0825em 0.0825em 0 #27ce27,
    0.085em 0.085em 0 #27ce27, 0.0875em 0.0875em 0 #27ce27,
    0.09em 0.09em 0 #27ce27, 0.0925em 0.0925em 0 #27ce27,
    0.095em 0.095em 0 #27ce27, 0.0975em 0.0975em 0 #27ce27,
    0.1em 0.1em 0 #27ce27;
}

/* ADMIN END  */

@media screen and (min-width: 900px) {
  #admin-content {
    flex-direction: row;
  }

  #admin-tweet-list-container {
    width: 50em;
    height: 30em;
  }

  .btn-send {
    font-variant-caps: all-petite-caps;
  }

  .logout-btn:hover {
    color: rgb(194, 0, 0) !important;
  }

  .form-control.input-search {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.4);
  }

  .form-control.input-new-tweet {
    width: 90%;
    height: 6em;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .profile-container {
    margin-right: 3rem;
    &:hover {
      transform: scale(1.01);
      transition: transform 0.2s;
    }
  }

  .content {
    flex-direction: inherit;
    align-items: baseline;
  }

  .auth-form {
    width: 50% !important ;
  }

  .search-menu-div {
    flex: 1;
    order: 2;
  }

  .search-menu {
    width: 300px;
  }

  .navbar-nav {
    order: 3;
  }

  .a-logout-img {
    display: none;
  }

  .logout-btn {
    display: block;
  }

  .btn-tweet {
    display: block;
    margin-left: 2em;
    border-radius: 30px;
    transition-property: transform 200ms;
    &:focus {
      transform: scale(0.9);
    }
  }

  .btn-letter-img {
    display: none;
  }

  #div-delete-secu {
    width: 20%;
  }

  #secu-no:hover {
    text-shadow: 0em 0em 0.2em 0.1em black;
    transform: scale(1.5);
  }

  #secu-yes:hover {
    text-shadow: 0em 0em 0.2em 0.1em black;
    transform: scale(1.5);
  }

  div:has(> ul > li#secu-no:hover):hover {
    background: linear-gradient(
      90deg,
      rgba(209, 0, 0, 1) 0%,
      rgba(138, 0, 0, 1) 59%,
      rgba(116, 0, 0, 1) 97%
    );
  }

  div:has(> ul > li#secu-yes:hover):hover {
    background: linear-gradient(
      90deg,
      rgba(17, 101, 0, 1) 0%,
      rgba(33, 138, 0, 1) 49%,
      rgba(56, 255, 0, 1) 97%
    );
  }
  /* Largeur de la scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Fond de la scrollbar */
  ::-webkit-scrollbar-track {
    background: rgb(37, 191, 119);
  }

  /* Style de la poignée de la scrollbar */
  ::-webkit-scrollbar-thumb {
    background: rgb(37, 149, 191);
    border-radius: 5px;
  }

  /* Au survol de la poignée de la scrollbar */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(37, 117, 191);
  }
}
