extends ../layout

block content 
  script(src="/javascripts/tweets/tweet.js")
  div(class="d-flex content mx-auto")
    include ../includes/profile.pug
    div(class="d-flex flex-fill flex-column" id="tweet-list-container")
      include tweet-list.pug
