extends ../layout

block content 
  script(src="/javascripts/tweets/tweet.js")
  div(class="d-flex content mx-auto")
    div(class="profile-container")
      include ../includes/profile
    div(class="flex-fill mt-5 new-tweet-container")
      form(class="card card-new-tweet" method="post" action= tweet._id ? "/letters/update/" + tweet._id : "/letters" )
        div(class="card-header") Ecrire une lettre
        div(clas="card-body")
          div(class="form-group m-3")
            if errors
              textarea(class="form-control input-new-tweet error" name="content" placeholder="What is happening ?")=tweet.content
              ul(class="my-2")
                each error in errors
                 li(class="text-danger error-new-letter")= error
            else
              textarea(class="form-control input-new-tweet" name="content" placeholder="What is happening ?")=tweet.content
          div(class="w-100")
            input(type="submit" value="Send" class="btn btn-primary d-block m-1 float-end btn-send") 