extends ../layout

block content 
  script(src="/javascripts/tweets/tweet.js")
  div(class="d-flex content")
    include ../includes/profile-card.pug
    div(class="d-flex flex-fill flex-column" id="tweet-list-container")
      include letter-list-v2.pug
