extends ../layout

block content
  script.
    function onSubmit(token) {
      document.getElementById("signup-form").submit();
    }
  div(class="d-flex content-auth mx-auto")
      a(class="logo-auth mb-5" href="/tweets")
        img(width="40" height="40" src="/images/whats-up-logo.webp" alt="Whats-UP logo")
        span(class="logo-name-auth") Whats-UP
      form(class="card auth-form" method="post" action="/users/signup" id="signup-form")
        div(class="card-header auth-header")
          a(class="auth-a-link" href="/auth/signin/form") Connexion
          a(class="auth-a-link active" href="/users/signup/form") Inscription  
        div(clas="card-body")
          div(class="form-group m-3")
            label(class="label-auth") Username :
            input(class="form-control" type="text" name="username")
          div(class="form-group m-3")
            label(class="label-auth") Email :
            input(class="form-control" type="text" name="email")
          div(class="form-group m-3")
            label(class="label-auth") Password :
            input(class="form-control" type="password" name="password")
          if errors
            ul(class="my-2")
              each error in errors
                li(class="text-danger")= error
          div(class="w-100")
            input(type="submit" value="valider" class="btn btn-primary d-block m-1 float-end label-auth g-recaptcha" data-sitekey="6Lei_BknAAAAAJ22WJ7rnXdUmV9wH4fKAo-uDh5J" data-callback="onSubmit" data-size="invisible") 